In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("ex_airbnb_rev.csv")

In [9]:
df.describe()

           Zipcode     max of all
count    55.000000      55.000000
mean   3100.763636   -4076.090909
std      67.443245   63254.626816
min    3000.000000  -35859.000000
25%    3048.500000  -28333.000000
50%    3083.000000  -24681.000000
75%    3162.500000  -11675.500000
max    3207.000000  370650.000000